
.sect {
  width: 100%;
  min-height: 500px;
  color: black;
}
#sect1,
#sect3 {
  background-color: #3333337d;
  color: #fff;
}



video {
  position: fixed ;
  left: 20px;
  top: 10px;
   width: 100%;
  height:200s%;
  z-index: -1;
}
img{
  width: 800px ;
}
heder{
  margin: 1px 40px 30px ;
  display: flex;
  opacity: 0.8;

}
.logo{
  display: flex;
  background-color: black  ;
  justify-content: center;
  opacity: 0.8;
}
.href{
  color: black;
}
.logo img{
  height: 70px;
  width: 100px;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-size: 100% auto;

}
.display-4{
  color: black;
}
.lead{
  color: black;
  font-family: sans-serif;
}
{
  font-family: Arial;
}

.container{
  color: white;
  opacity: 0.9;
}
.jumbotron{
  opacity: 0.9;
}
nav{

  display: flex;
  background-color: black    ;
  text-transform: uppercase;
  opacity: 0.8;

}
a{color: white;
}

ul{ display: flex;
  background-color: black;
  display: flex;
  display: none;
  opacity: 0.8;

}

input:checked  ~ ul{
  display:block;
}

input {
  display: none;
}

label {
  box-sizing: border-box;
  display: inline-block;
  border: 2px solid white;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  line-height: 40px;
  font-weight: bold;
  text-align: center;
  user-select: none;

}

/* Estilo del boton cuando se pasa el mouse por encima*/
label:hover{
  background: slateblue;ck;
}

/* Estilo del boton cuando el menú está expandido*/
input:checked ~ label {
  background: slateblue; 
}

ul{
  margin-top:0;
  padding: 0;
  width: 200px;

}


li {
  display: block;
  background: lightgrey;
  margin: ;
  padding: 20px;
  list-style: none;
  border-bottom: 1px solid grey;
}

/*Estilo cuando el mouse pasa encima de cada link del menu*/
li:hover {
  filter: black(150%);
}
figure{
  width: 200px;
  height: 200px;
}
.cuerpo{
  margin: 10px 200px 200px;
}